* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
  background-color: rgb(26, 27, 27);
}

a {
  color: #2ea967;
  font-weight: 500;
}

img {
  max-width: 100%;
  border-radius: 10px;
}
