.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.wrapper h1 {
  margin-top: 30px;
  text-align: center;
}

.textField {
  padding: 10px;
}

.center {
  text-align: center;
}

.imgs {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
}

.imgs img {
  width: 80px;
  height: 80px;
}

.main form {
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(22, 22, 22);
  border: 2px solid #000;
  border-radius: 10px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.main form input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.main form input:focus {
  outline: none;
}

.main form button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #2ea967;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main form button:hover {
  filter: brightness(0.8);
}

.botInfo h3 {
  margin: 10px 0;
  text-decoration: underline;
}

.botInfo ul {
  padding: 10px 20px;
}

.botInfo ul li {
  margin-bottom: 5px;
}

.code {
  font-family: monospace;
  font-size: 16px;
  background-color: #000;
  padding: 2px 5px;
  border-radius: 5px;
}

.guideList {
  padding: 0 15px;
}

.guideList img {
  margin: 15px 0;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgb(23, 23, 23);
}

.contact {
  margin-bottom: 30px;
}
